@CHARSET "ISO-8859-1";

.h-radialcontextmenu {
	position: absolute;
}

.h-radialcontextmenu:focus {
	outline: none;
}

.h-radialcontextmenu .menu {
	background-color: #BBB;
	border-width: 1px;
	border-color: #555;
	border-style: solid; /* this needs to be here, otherwise calculations will return weird values. */
}